@charset "utf-8";
*{
	box-sizing: border-box;
}
html{
	height: 100%;
	max-width: 100%;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #000;
	transform-style: preserve-3d;
}


.fab{
	font-size: 50px;
	margin: 10px;
}